<h1>{{ title }}</h1>

<form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">
    <mat-form-field>
        <input matInput placeholder="Nome completo" required [(ngModel)]="cliente.nome_cliente" name="nome_cliente">
        <mat-icon matSuffix>person</mat-icon>
     </mat-form-field>
  
     <mat-form-field>
        <input matInput placeholder="CNPJ ou CPF" required [(ngModel)]="cliente.cnpj_cpf" name="cnpj_cpf" mask="00000000000999" >
        <mat-icon matSuffix>insert_drive_file</mat-icon>
     </mat-form-field>
   
     <mat-form-field>
        <input matInput placeholder="Endereço completo" required [(ngModel)]="cliente.endereco" name="endereco">
        <mat-icon matSuffix>room</mat-icon>
     </mat-form-field>
  
     <mat-form-field>
        <input matInput placeholder="Telefone (fixo ou celular)" required [(ngModel)]=" cliente.telefone" name="telefone" mask="(00) 00000-0009">
        <mat-icon matSuffix>phone</mat-icon>
     </mat-form-field>

   <mat-toolbar class="form-buttons">
      <mat-toolbar-row>
         <button mat-raised-button type="submit" color="accent">
            Salvar
         </button>
         <button mat-raised-button type="button" (click)="voltar(f)">
            Voltar
         </button>
      </mat-toolbar-row>
   </mat-toolbar>

</form>