<html>
    <center>
    <h1>Contatos</h1>
    <mat-card class="example-card">
            <h3>Vinicius Alencar de Oliveira Mendonça</h3>          
        <mat-card-content>
          <p>
            E-mail: viniciusalencar176@gmail.com <br><br>
            Telefone: +55 (35) 99732-0332 <br><br>
            Linkedin: www.linkedin.com/in/viniciusalencar176 <br><br>
            Blog Fausto Cintra: https://faustocintra.com.br/blog/ <br><br>
          </p>
        </mat-card-content>
      </mat-card>
    </center>
</html>
